@charset "UTF-8";

@import "variables";
@import "main";

body {
  font-family: "Poppins", sans-serif !important;
}

.comman-form {
  & form {
    & .eye-icon {
      color: #777;
      top: 13px;
      right: 25px;
    }

    & .Inpt {
      border-bottom: 2px solid #757575 !important;
      // background-color: #f2f2f2;
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      color: #757575;

      &:focus-visible {
        outline: none !important;
      }
    }

    & .form-check {
      & .form-check-input {
        box-shadow: none;
      }

      & .form-check-label {
        font-weight: 600;
      }
    }

    & .form-check-input:checked {
      background-color: #fff;
      border: 2px solid #0077ED;
    }

    & .form-check-input:checked[type=radio] {
      background-image: url(../img/checked.svg);
    }
  }
}

.signUpPage {
  height: 100vh;

  & .innerPage {
    background: #f2f2f2;

    & .Sign_Up {
      z-index: 5;

      & .card {
        border-radius: 8px;

        & .Account {

          & .heading,
          a {
            font-weight: 300;
          }

          & a {
            color: #ff4e00;
          }
        }

        & form {
          & .eye-icon {
            color: #777;
            top: 13px;
            right: 25px;
          }

          & .Inpt {
            border-bottom: 2px solid #757575 !important;
            background-color: #f2f2f2;
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
            color: #757575;

            &:focus-visible {
              outline: none !important;
            }
            
          }

          & .form-check {
            & .form-check-input {
              box-shadow: none;
            }

            & .form-check-label {
              font-weight: 300;
            }
          }

          & .sign_up {
            & a {
              font-weight: 300;
              color: #ff4e00;
            }
          }
          &.was-validated  {
            & .Inpt {
              &:invalid {
                border-color: $danger !important;
              }
              &:valid {
                border-color: $theme1 !important;
                background-image: none;
              }
            }
            & #enterpass, #createpassword, #confirmpassword {
              background-position: 90%;
            }
            & .form-check {
              & .form-check-input {
                &:valid {
                  border-color: $dark;
                  &:checked {
                    background-color: $primary;
                    border-color: $primary;
                  }
                }
                & ~ label {
                  color: $dark;
                }
              }
            }
         }
        }
      }

      .back_img {
        width: 140px;
        position: absolute;
      }

      & .back_img1 {
        right: 100px;
        bottom: -60px;
        z-index: -1;
      }

      & .back_img2 {
        left: -72px;
        top: 50px;
        transform: rotate(228deg);
        z-index: -1;
      }

      & .back_img3 {
        top: -32px;
        right: -14px;
        z-index: -1;
      }
    }
  }
}

.Create_Event {
  height: auto !important;

  & .innerPage {
    & .Sign_Up {
      & .card {
        & .Account.event_info {
          background-color: #757575;
        }

        & form {
          & .form-check-input:checked {
            background-color: #fff;
            border: 2px solid #0077ED;
          }
      
          & .form-check-input:checked[type=radio] {
            background-image: url(../img/checked.svg);
          }
          & .calendar {
            background-repeat: no-repeat;
            background-position: center right 0.63em;
            background-size: 1.2em;
          }

          & .calendar {
            background-image: url(../img/calendar.png);
          }

          & .clock {
            position: relative;
          }

          & .clock::-webkit-calendar-picker-indicator {
            background-image: url(../img/clock.png);
            background-size: 1.2em;
            cursor: pointer;
          }

          & .Url_example {
            color: #757575;
          }

          & .input-group {
            & .form-select {
              color: #757575;

              & .choose {
                transition: 0.3s all ease-in-out;

                &:hover {
                  background-color: $theme1  !important;
                  color: $theme2  !important;
                }
              }
            }
          }

          & .chooseFile {
            cursor: pointer;
          }

          & .manually_tab {
            & .table-responsive {
              white-space: nowrap;

              & .table {
                & thead {
                  & tr {
                    background-color: #757575;

                    & th {
                      color: #f2f2f2;
                    }
                  }
                }

                & tbody {
                  & tr {
                    & td {
                      background-color: #e2e2e2;

                      & .form-control {
                        color: #757575 !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.was-validated  {
  & .Inpt {
    &:invalid {
      border-color: $danger !important;
    }
    &:valid {
      border-color: $theme1 !important;
      background-image: none;
    }
  }
  & #enterpass, #createpassword, #confirmpassword {
    background-position: 90%;
  }
  & .form-check {
    & .form-check-input[type="checkbox"] {
      &:valid {
        border-color: $dark;
        &:checked {
          background-color: $primary;
          border-color: $primary;
        }
      }
      & ~ label {
        color: $dark;
      }
    }
    & .form-check-input[type="radio"] {
      &:valid {
        border-color: $primary;
        &:checked {
          background-color: transparent;
          border-color: $primary;
          box-shadow: none;
        }
      }
      & ~ label {
        color: $dark;
      }
    }
  }
}
// Main Dashboard
.Main_Dashboard {
  & .card {
    & .card-body {
      & .card-title {
        & i {
          cursor: pointer;
        }

        & .check-icon {
          background-color: #d3ffe0;
          color: #18c44c;
        }

        & .close-icon {
          background-color: #fdc5c9;
          color: #bf0413;
        }
      }

      & .card-subtitle {
        // line-height: 55px;
      }
    }
  }
}

// Create-Guest-modal
.Create-Guest-modal {
  & .modal-dialog {
    & .modal-content {
      background-color: #f2f2f2;

      // & .modal-header {}
      & .modal-body {
        & .user_img {
          background-color: #A8C5FF;
        }

        & .event_info {
          background-color: #757575;
        }

        & .modal-form {
          & label {
            color: #757575;
          }

          & .eye-icon {
            color: #777;
            top: 13px;
            right: 25px;
          }

          & .nonpadding {
            padding: 0px !important;
          }

          & .form-control {
            padding-left: 11px !important;
          }

          & .Inpt {
            border-bottom: 2px solid #757575 !important;
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
            color: $theme2;
            // padding-top: 1.3em !important;

            &:focus-visible {
              outline: none !important;
            }
          }

          & .form-floating {
            & .form-select {
              background-position: right 0.75rem bottom 0.8rem !important;
              padding-top: 1.3rem !important;
            }
          }

          & .form-check {
            & .form-check-input {
              box-shadow: none;
            }

            & .form-check-label {
              font-weight: 600;
            }

          }

          & .select2-container {
            width: 100% !important;
          }

          & .fotter_button {
            border-top: 1px solid #757575;
          }

          & .Tel_Input_group {
            & label {
              padding-top: 0px !important;
              padding-left: 1rem;
            }

            & .iti--allow-dropdown {
              width: 100%;

              & .form-control {
                padding-left: 50px !important;
              }
            }
          }
        }
      }

    }
  }
}

.select2-selection {
  padding: 12px 8px !important;

  & ul {
    & li {
      margin-top: 0px !important;
      border: none !important;
      color: $theme2  !important;
    }

  }
}

.select2-selection--multiple {
  border: none !important;

}

.select2-selection__choice {
  padding: 6px 20px 6px 8px !important
}

.select2-selection__choice__remove {
  right: 0 !important;
  top: 7px !important;
  left: unset !important;
  border: none !important;

  &:hover {
    background-color: unset !important;
    color: $theme2  !important;
  }
}


.select2-container--open {
  z-index: 9999 !important;
}
.myEvent{
  & table {
    & tbody {
      & tr {
        & td {
          &:nth-child(5) {
            text-align: center;
          }
          &:nth-child(6) {
            text-align: center;
          }
          &:nth-child(7) {
            text-align: center;
          }
          &:nth-child(8) {
            text-align: center;
          }
          &:nth-child(9) {
            text-align: center;
          }
          &:nth-child(10) {
            text-align: center;
          }
        }
      }
    }
  }
}

.iti__flag {
  background-image: url("../libs/intel-tel-input/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../libs/intel-tel-input/flags@2x.png");
  }
}


.progress_bar {
  & svg {
    transform: rotate(-90deg);

    & circle {
      fill: none;
      stroke: #f0f0f0;
      stroke-width: 14;
      stroke-linecap: round;
    }

    & circle:last-of-type {
      stroke-dasharray: 625px;
      stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
      stroke: #3498db;

    }
  }

  & svg circle:last-of-type {
    stroke: #FF4E00;
  }
}


.analytics_table {
  & .table {
    white-space: nowrap;
    overflow-x: auto;

    & thead {
      & tr {
        background-color: #E2E2E2;

        & th {
          text-align: center;
        }

        & th:nth-child(1) {
          text-align: start !important;
        }
      }

    }

    & tbody {
      & tr {
        & td {
          font-size: 16px;
          color: $theme2;
          font-weight: 400;
          text-align: center;

        }

        & td:nth-child(1) {
          text-align: start !important;
        }

        &:nth-of-type(even) {
          background-color: #E2E2E2 !important;
        }
      }
    }

    // & tr:nth-child(2){
    //   background-color: #E2E2E2;
    // }

  }
}

// email
.impete {
  transform: translate(-50%, -50%);
}

.email-modal {
  & .modal-dialog {
    & .modal-content {
      & .modal-header {
        border-bottom: 1px solid #757575;
      }

      & .modal-body {
        & .modal-form {
          & .form-control {
            background-color: #F2F2F2;
          }

          & .emailAddressSpan {
            color: #757575;
          }
        }
      }

    }
  }
}

.Campaign_page {
  .comman-form {
    & form {
      & label {
        left: 9px !important;
      }

      & .calendar {
        background-repeat: no-repeat;
        background-position: center right 0.63em;
        background-size: 1.2em;
      }

      & .calendar {
        background-image: url(../img/calendar.png);
      }

      & .clock {
        position: relative;
      }

      & .clock::-webkit-calendar-picker-indicator {
        background-image: url(../img/clock.png);
        background-size: 1.2em;
        cursor: pointer;
      }
      & .form_select_non_icon {
        background:  #fff !important;
      }

    }
  }
}



// .table-striped>tbody>tr:nth-of-type(odd)>* {
//   background-color: none !important;
// }
// .table-striped>tbody>tr:nth-of-type(even)>* {
//   background-color: red !important;
// }

// Small devices (landscape phones, 576px and up)

@mixin xxxxxx-xxxxx-mixin-min-sm() {}

// Medium devices (tablets, 768px and up)
@mixin xxxxxx-xxxxx-mixin-min-md() {}

// Large devices (desktops, 992px and up)
@mixin xxxxxx-xxxxx-mixin-min-lg() {}

// X-Large devices (large desktops, 1200px and up)
@mixin xxxxxx-xxxxx-mixin-min-xl() {}

// XX-Large devices (larger desktops, 1400px and up)
@mixin xxxxxx-xxxxx-mixin-min-xxl() {}

// X-Small devices (portrait phones, less than 576px)
@mixin xxxxxx-xxxxx-mixin-max-xs() {
  .back_img {
    width: 70px !important;
  }

  .back_img1 {
    bottom: -45px !important;
  }

  .back_img2 {
    left: 0 !important;
  }

  .back_img3 {
    top: -15px !important;
    right: 0px !important;
  }
}

//

// Small devices (landscape phones, less than 768px)
@mixin xxxxxx-xxxxx-mixin-max-sm() {}

// Medium devices (tablets, less than 992px)
@mixin xxxxxx-xxxxx-mixin-max-md() {}

// Large devices (desktops, less than 1200px)
@mixin xxxxxx-xxxxx-mixin-max-lg() {
  
  .signUpPage {
  
    & .innerPage {
  
      & .Sign_Up {
  
        & .card {
  
          & .Account {
  
            & .heading,
            a {
            }
  
            & a {
            }
          }
  
          & form {
            & .eye-icon {
            }
            & .Inpt {
              &:focus-visible {
              }
            }
            & .form-check {
              & .form-check-input {
              }
              & .form-check-label {
              }
            }
            & .sign_up {
              & a {
              }
            }
            &.was-validated  {
              & .Inpt {
                &:invalid {
                }
                &:valid {
                }
              }
              & #enterpass {
              }
              & .form-check {
                & .form-check-input {
                  &:valid {
                    &:checked {
                    }
                  }
                  & ~ label {
                  }
                }
              }
           }
          }
        }
  
        .back_img {
          width: 100px;
        }
  
        & .back_img1 {
          right: 50px;
          bottom: -50px;
        }
  
        & .back_img2 {
          left: -50px;
        }
  
        & .back_img3 {
        }
      }
    }
  }
}

// X-Large devices (large desktops, less than 1400px)
@mixin xxxxxx-xxxxx-mixin-max-xl() {}


table.dataTable tbody td, table.dataTable tbody td {
  padding: 10px 18px !important;
  border-bottom: 1px solid #000 !important;
}
table.dataTable tbody tr.even {
  background-color: transparent !important;
}
table.dataTable.table-striped>tbody>tr.even>*, table.dataTable.table-striped>thead>tr.even>* {
  box-shadow: none !important;
}
table.dataTable.table-striped>tbody>tr.odd>*, table.dataTable.table-striped>thead>tr.odd>* {
  background-color: #E2E2E2 !important;
}
table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:after {
  display: none;
}
table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_asc_disabled:before, table.dataTable thead>tr>th.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting:before, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:before {
  display: none;
}

table.dataTable.table-striped>tbody>tr.even>*, table.dataTable.table-striped>thead>tr.even>* {
  box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 5%);
}
table.dataTable.table-striped>tbody>tr.odd>* {
  box-shadow: none;
}

table.dataTable thead td.select-checkbox:before, table.dataTable thead th.select-checkbox:before {
  content: " ";
  margin-top: -6px;
  margin-left: -6px;
  border: 1px solid black;
  border-radius: 3px;
}
table.dataTable tbody td.select-checkbox, table.dataTable thead th.select-checkbox {
  position: relative;
}
table.dataTable tbody td.select-checkbox:before, table.dataTable tbody td.select-checkbox:after, table.dataTable thead th.select-checkbox:before, table.dataTable tbody th.select-checkbox:after {
  display: block;
  position: absolute;
  top: 1.4em;
  left: 50%;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
table.dataTable tr.selected td.select-checkbox:after, table.dataTable tr.selected th.select-checkbox:after {
  content: "✓";
  font-size: 10px;
   margin-top: 0;
  margin-left: -6px;
  text-align: center;
  text-shadow: 1px 1px #b0bed9, -1px -1px #b0bed9, 1px -1px #b0bed9, -1px 1px #b0bed9;
}
table.dataTable.table-striped>tbody>tr.odd.selected>*, table.dataTable.table-striped>tbody>tr.even.selected>* {
  box-shadow: inset 0 0 0 9999px $theme2;

}

#example_wrapper, #drafttable_wrapper, #scheduledtable_wrapper, #senttable_wrapper {
  & .row{
    &:nth-child(1){
      display: none;
    }
    &:nth-child(3){
      display: none;
    }
  }
}

// My Account
.myAccount {

  // min-height: calc(100vh - 60px);
  & form {
    & .eye-icon {
      color: #777;
      top: 13px;
      right: 12px;
      cursor: pointer;
    }

    & .Inpt {
      border-bottom: 2px solid #757575 !important;
      background: #fff !important;
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      color: #000000;

      &:focus-visible {
        outline: none !important;
      }
    }

    & .form-check {
      & .form-check-input {
        box-shadow: none;
      }

      & .form-check-label {
        font-weight: 600;
      }
    }

    & .sign_up {
      & a {
        font-weight: 600;
        color: #ff4e00;
      }
    }
  }

  & .profileImg {
    width: 200px;
    height: 200px;
    background-color: #3C3C3C66;

    & .changeProfile {
      cursor: pointer;

      & img {
        object-fit: cover;
        width: 100%;
      }

      & .imgOverlay {
        opacity: 0;
        inset: 0;
        background: #3C3C3C66;
        cursor: pointer;
        transition: opacity 0.3s;
      }

      &:hover {
        & .imgOverlay {
          opacity: 1;
        }
      }
    }
  }
}

.fw-600 {
  font-weight: 600 !important;
}

#changepassword,
#deleteaccount {
  & .modal-header {
    // padding: 21px 31px 11px 31px;
  }

  & .modal-body {

    // padding: 26px 31px 11px;
    & form {
      & .eye-icon {
        color: #777;
        top: 13px;
        right: 12px;
        cursor: pointer;
      }

      & .Inpt {
        border-bottom: 2px solid #757575 !important;
        background: #f2f2f2 !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        color: #000000;

        &:focus-visible {
          outline: none !important;
        }
      }

      & .form-check {
        & .form-check-input {
          box-shadow: none;
        }

        & .form-check-label {
          font-weight: 600;
        }
      }

      & .sign_up {
        & a {
          font-weight: 600;
          color: #ff4e00;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)

@mixin myAccount-mixin-min-sm() {}

// Medium devices (tablets, 768px and up)
@mixin myAccount-mixin-min-md() {}

// Large devices (desktops, 992px and up)
@mixin myAccount-mixin-min-lg() {}

// X-Large devices (large desktops, 1200px and up)
@mixin myAccount-mixin-min-xl() {}

// XX-Large devices (larger desktops, 1400px and up)
@mixin myAccount-mixin-min-xxl() {}

// X-Small devices (portrait phones, less than 576px)
@mixin myAccount-mixin-max-xs() {
  .myAccount {
    & form {
      & .eye-icon {}

      & .Inpt {
        &:focus-visible {}
      }

      & .form-check {
        & .form-check-input {}

        & .form-check-label {}
      }

      & .sign_up {
        & a {}
      }
    }

    & .profileImg {
      width: 120px;
      height: 120px;

      & .changeProfile {
        & img {}

        & .imgOverlay {}

        &:hover {
          & .imgOverlay {}
        }
      }
    }
  }
}

//

// Small devices (landscape phones, less than 768px)
@mixin myAccount-mixin-max-sm() {}

// Medium devices (tablets, less than 992px)
@mixin myAccount-mixin-max-md() {
  .myAccount {
    & form {
      & .eye-icon {}

      & .Inpt {
        &:focus-visible {}
      }

      & .form-check {
        & .form-check-input {}

        & .form-check-label {}
      }

      & .sign_up {
        & a {}
      }
    }

    & .profileImg {
      width: 160px;
      height: 160px;

      & .changeProfile {
        & img {}

        & .imgOverlay {}

        &:hover {
          & .imgOverlay {}
        }
      }
    }
  }
}

// Large devices (desktops, less than 1200px)
@mixin myAccount-mixin-max-lg() {}

// X-Large devices (large desktops, less than 1400px)
@mixin myAccount-mixin-max-xl() {}

// Guests
.guests {
  & .guestFilter {
    & .filterHeader {
      & .guestLodar {
        cursor: pointer;
      }
    }

    & .filterBody {
      overflow: hidden !important;
      & .form-check {
        & .form-check-input:checked[type="radio"], .form-check-input:checked[type=checkbox] {
          background-image: url("../img/check-icon.png");
          border-color: $primary  !important;
        }
      }
    }
  }

  & .searchBar {
    & .input-group {
      border-color: #757575 !important;

      & #searchguest {
        &::placeholder {
          font-size: 12px;
        }

        &~.searchbtn {
          position: absolute;
          top: 10px;
          left: 14px;
        }
      }
    }

    & .dropdown-menu {
      border: none;
      box-shadow: 0px 2px 5px #00000029;
      border-radius: 4px;
      min-width: 100%;

      &.show {
        transform: translate(0px, 35px);
      }
    }
  }
}

#grouping {
  & .modal-dialog {
    & .modal-content {
      background-color: #f2f2f2;

      & .modal-header {}

      & .modal-body {
        & form {
          & .Inpt {
            border-bottom: 2px solid #757575 !important;
            background: #fff !important;
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
            color: #000000;

            &:focus-visible {
              outline: none !important;
            }
          }
        }
      }
    }
  }
}
#viewguestinfo{
  & .modal-body {
    & label {
      &.input-group-text{
        // border: 1px dashed $theme2;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%23302D2FFF' stroke-width='4' stroke-dasharray='10%2c 14' stroke-dashoffset='24' stroke-linecap='square'/%3e%3c/svg%3e");
border-radius: 6px;
        cursor: pointer;
        & img {
          filter: contrast(0.08);
        }
        & .textHover {
          transition: all .3s;
          &:hover{
            color: $primary;
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)

@mixin guests-mixin-min-sm() {}

// Medium devices (tablets, 768px and up)
@mixin guests-mixin-min-md() {}

// Large devices (desktops, 992px and up)
@mixin guests-mixin-min-lg() {}

// X-Large devices (large desktops, 1200px and up)
@mixin guests-mixin-min-xl() {}

// XX-Large devices (larger desktops, 1400px and up)
@mixin guests-mixin-min-xxl() {}

// X-Small devices (portrait phones, less than 576px)
@mixin guests-mixin-max-xs() {}

// Small devices (landscape phones, less than 768px)
@mixin guests-mixin-max-sm() {}

// Medium devices (tablets, less than 992px)
@mixin guests-mixin-max-md() {
  .guests {
    &.filterShow {
      & .guestFilter {
        left: 0;
        transition: all .5s;
      }
    }

    & .guestFilter {
      position: absolute;
      top: 0;
      left: -100%;
      transition: all .5s;
      z-index: 10;

      & .filterHeader {
        & .guestLodar {}
      }

      & .filterBody {
        overflow: scroll !important;
        & .form-check {
          & .form-check-input:checked[type="radio"] {}
        }
      }
    }

    & .searchBar {
      & .input-group {
        & #searchguest {
          &::placeholder {}

          &~.searchbtn {}
        }
      }

      & .dropdown-menu {
        &.show {}
      }
    }
  }
}

// Large devices (desktops, less than 1200px)
@mixin guests-mixin-max-lg() {
  .guests {
    &.filterShow {
      & .guestFilter {
      }
    }

    & .guestFilter {

      & .filterHeader {
        & .guestLodar {}
      }

      & .filterBody {
        overflow: hidden !important;
        & .form-check {
          & .form-check-input:checked[type="radio"] {}
        }
      }
    }

    & .searchBar {
      & .input-group {
        & #searchguest {
          &::placeholder {}

          &~.searchbtn {}
        }
      }

      & .dropdown-menu {
        &.show {}
      }
    }
  }
}

// X-Large devices (large desktops, less than 1400px)
@mixin guests-mixin-max-xl() {}

@media (max-width: 450px) {
  .guests {
    &.filterShow {
      & .guestFilter {}
    }

    & .guestFilter {
      & .filterHeader {
        & .guestLodar {}
      }

      & .filterBody {
        & .form-check {
          & .form-check-input:checked[type="radio"] {}
        }
      }
    }

    & .searchBar {
      zoom: .9;

      & .input-group {
        & #searchguest {
          &::placeholder {}

          &~.searchbtn {}
        }
      }

      & .dropdown-menu {
        &.show {}
      }
    }

    & .totalGuest {
      zoom: .8;
    }
  }
}

@media (max-width: 370px) {
  .guests {
    &.filterShow {
      & .guestFilter {}
    }

    & .guestFilter {
      & .filterHeader {
        & .guestLodar {}
      }

      & .filterBody {
        & .form-check {
          & .form-check-input:checked[type="radio"] {}
        }
      }
    }

    & .searchBar {
      & .input-group {
        & #searchguest {
          &::placeholder {}

          &~.searchbtn {}
        }
      }

      & .dropdown-menu {
        &.show {}
      }
    }

    & .totalGuest {
      & .buttonsGroup {
        & button {
          padding: 5px !important;
        }
      }
    }
  }
}

// Email 2
.emailType {
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: $white !important;
    background-color: $theme2;
}
 
}

// Small devices (landscape phones, 576px and up)

@mixin emailType-mixin-min-sm() {}

// Medium devices (tablets, 768px and up)
@mixin emailType-mixin-min-md() {}

// Large devices (desktops, 992px and up)
@mixin emailType-mixin-min-lg() {}

// X-Large devices (large desktops, 1200px and up)
@mixin emailType-mixin-min-xl() {}

// XX-Large devices (larger desktops, 1400px and up)
@mixin emailType-mixin-min-xxl() {}

// X-Small devices (portrait phones, less than 576px)
@mixin emailType-mixin-max-xs() {
}

// Small devices (landscape phones, less than 768px)
@mixin emailType-mixin-max-sm() {}

// Medium devices (tablets, less than 992px)
@mixin emailType-mixin-max-md() {
}

// Large devices (desktops, less than 1200px)
@mixin emailType-mixin-max-lg() {}

// X-Large devices (large desktops, less than 1400px)
@mixin emailType-mixin-max-xl() {}


.newPage {
  & .mainSocial {
    & a {
      border: 1px solid $theme1;
      transition: .5s;
      & i {
        transition: .3s;
      }
      &:hover {
        background-color: transparent !important;
        border: 1px solid $theme1;
        color: $theme1 !important;
        & i {
          transform: rotateY(3600deg);
        }
      }
    }
  }
}

.modal-backdrop {
  --bs-backdrop-bg: #302D2F80 !important;
  &.show {
    opacity: 1 !important;
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  @include xxxxxx-xxxxx-mixin-min-sm();
  @include myAccount-mixin-min-sm();
  @include guests-mixin-min-sm();
  @include emailType-mixin-min-sm();
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  @include xxxxxx-xxxxx-mixin-min-md();
  @include myAccount-mixin-min-md();
  @include guests-mixin-min-md();
  @include emailType-mixin-min-md();
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  @include xxxxxx-xxxxx-mixin-min-lg();
  @include myAccount-mixin-min-lg();
  @include guests-mixin-min-lg();
  @include emailType-mixin-min-lg();
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  @include xxxxxx-xxxxx-mixin-min-xl();
  @include myAccount-mixin-min-xl();
  @include guests-mixin-min-xl();
  @include emailType-mixin-min-xl();
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  @include xxxxxx-xxxxx-mixin-min-xxl();
  @include myAccount-mixin-min-xxl();
  @include guests-mixin-min-xxl();
  @include emailType-mixin-min-xxl();
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  @include xxxxxx-xxxxx-mixin-max-xl();
  @include myAccount-mixin-max-xl();
  @include guests-mixin-max-xl();
  @include emailType-mixin-max-xl();
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  @include xxxxxx-xxxxx-mixin-max-lg();
  @include myAccount-mixin-max-lg();
  @include guests-mixin-max-lg();
  @include emailType-mixin-max-lg();
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  @include xxxxxx-xxxxx-mixin-max-md();
  @include myAccount-mixin-max-md();
  @include guests-mixin-max-md();
  @include emailType-mixin-max-md();
  @include sidebar-toggle-mixin-max-md();
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  @include xxxxxx-xxxxx-mixin-max-sm();
  @include myAccount-mixin-max-sm();
  @include guests-mixin-max-sm();
  @include emailType-mixin-max-sm();
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  @include xxxxxx-xxxxx-mixin-max-xs();
  @include myAccount-mixin-max-xs();
  @include guests-mixin-max-xs();
  @include emailType-mixin-max-xs();
}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width